@font-face {
    font-family: Netflix;

    src: url(../source/font/NetflixSans-Regular.otf);
    src: url(../source/font/NetflixSans-Regular.woff2);

    /* src: url(../source/font/NetflixSans-Bold.otf);
    src: url(../source/font/NetflixSans-Bold.woff2); */
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    min-height: 100vh;

    background-image: url(../source/Netflix_login_background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

nav {
    width: 100vw;
    height: 15vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4vw;

    box-sizing: border-box;
    border: solid 1px black;
}

.nav-image {
    width: 130px;
    height: auto;
}

.nav-div-buttons {
    display: flex;
    column-gap: 30px;

    box-sizing: border-box;
    border: solid 1px black;
}

#nav-btn-Sign {
    width: 80px;
    height: 35px;

    border-width: 0;
    border-radius: 3px;

    font-family: Netflix;
    font-size: 15px;
    color: white;

    background-color: red;
}

#nav-btn-Language {
    width: 110px;
    height: 35px;

    border-width: 1px;
    border-radius: 3px;
    border-color: white;

    outline: none;

    font-family: Netflix;
    font-size: 15px;
    color: white;
    text-align: center;

    background-color: transparent;

    appearance: none;
}

.nav-option-language {
    background-color: white;

    color: black;
}